@import "./../colors.module.scss";

hr {
  margin: 2rem 0;
  background-color: var(--bright-gery);
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  a {
    font-size: 1.4rem;
    font-weight: 400;
    &.nextStep {
      background-color: var(--pink);
      padding: 0.8rem 4rem;
      border-radius: 8px;
      color: var(--white);
    }
  }
}
