@import "./colors.module.scss";

.stepBox {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.stepNumber {
  font-size: 1.2rem;
  font-weight: 700;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepDescription {
  font-size: 1.6rem;
}

.line {
  width: 16%;
  height: 2px;
  background-color: var(--black);
}
