%container_center {
  max-width: 128rem;
  margin: 0 auto;
}

main {
  @extend %container_center;
  padding: 4rem 3rem 8rem 3rem;
  .title {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 3rem;
  }
  .pay_wrap {
    display: grid;
    grid-template-columns: 55fr 45fr;
    justify-content: space-between;
    gap: 10rem;
  }
}

header {
  @extend %container_center;
  padding: 3rem;
}
